.div{
    background-color: bisque;
    border:1px;
    border-width:100%;
    border-color: bisque;
}
.logo{
    height: 40px;
    width: 150px;
    padding: 5px;
    padding-left: 90px;

}
.right-corner{
    float: right;
}
.button{
    border: none;
    padding: 20px;
    background-color: transparent;
}
button:hover{
    border: none;
    color: white;
    background-color: brown;
    cursor:pointer;
}
.apply{
    color: white;
    background-color: rgb(232, 127, 22);
    border-radius: 10px;
}
.header{
    border:1px solid rgb(220, 215, 215);
    background-color: rgb(220, 215, 215);
    height: 50px;
    width: 100%;
}
.guarantee{
    font-size: 500%;
    margin-left: 25%;
    margin-bottom: 0px;
    width: 1000px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
.lpa{
    font-family: "Poppins rev=2";
    font-size: 450%;
    color: white;
    margin-left: 30%;
    margin-top: 0px;
    background-color: rgb(219, 94, 6);
    width: 500px;
    padding-left: 50px;
    border-radius: 30px;
}
.curl{
    font-size: 500%;
} 

.register{
    margin-left: 35%;

}
.highlight{
    color: rgb(219, 94, 6);
}
.training{
    margin-left: 25%;
}
.box{
    background-color: rgb(219, 94, 6);
    font-size: 300%;
    margin-left: 45%;
    color:white;
    padding: 10px;
}
.whatsapp{
    height: 30px;
    width: 250px;
    float: right;
    position: fixed;
    right: 40px;
    bottom: 40px;
    background-color: rgb(219, 94, 6);
    padding: 10px 0px 0px 10px;
    border-radius: 40px;
}
.body{
    margin-left: 40%;
}