.head{
    border: 5px solid black;
    text-align: center;
    margin: 3px;
    width: 985px;
    height: 30px;
    padding: 10px 0px 0px 0px;
    background-color: rgb(248, 227, 227)

}
.sidebar{
    border: 5px solid black;
    text-align: center;
    height: 200px;
    width: 100px;
    margin: 3px;
    padding-top: 150px;
    background-color: rgb(170, 163, 154);
}
.middle{
    border: 5px solid black;
    text-align: center;
    height: 200px;
    width: 800px;
    margin: 3px;
    padding-top: 150px;
    background-color:rgb(244, 162, 162)
}
.main{
    width: 1000px;
    display: flex;
    flex-direction: row;
}