* {
    margin: 0;
    padding: 0;
}

.shopping {
   width: 100vw;
    height: 100%;
    background-color: white;
    color: gray;
    font-family: 'Playfair Display', serif;
}

.first {
    height: 3rem;
    width: 60vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.underline {
    border-bottom: 1px solid rgb(203, 200, 200);
}

.left-first {
    display: flex;
}

.left-first .insta  {
    padding: 0.5rem;
    font-size: 1.3rem;
}

.right-first {
    display: flex;
}

.right-first select {
    border: none;
    background-color: transparent;
}

.second {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.1rem;
    height: 9.5rem;
    width: 65vw;
    margin: auto;
}

.left-second {
    color: rgb(225, 136, 136);
    font-size: 3rem;
}


.mid-second {
    position: relative;
}
.mid-second i{
    position:absolute;
    right:1.5rem;
    top:13px;
    cursor: pointer;
}
.product {
    height: 3%;
    width: 25vw;
    padding: .6rem;
    font-size: 85%;
    position: relative;

}

.product .i {
    position: absolute;
}

.right-second {
    display: flex;
}

.icon {
    margin-right: 1.3rem;
}

.third {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    padding-right: .1rem;
    overflow-x: scroll;
    width: 60%;
    margin-left: 20%;

}
.third div{
padding: 1rem;
}

.fourth {
    font-size: 1.5rem;
    height: 25rem;
    width: 60vw;
    border: 1px solid rgb(203, 202, 202);
    margin: auto;
    background-image: url("images/banner-1.jpg");
    background-size: cover;
    text-align: center;
}

.trend {
    padding-top: 6rem;
    color: lightpink;
}
.price1{
margin-left: 2rem;
}
.h1 {
    color: black;
    font-size: 3rem;
}

.img {
    height: 25rem;
    width: 63rem;
}

.shop {
    background-color: lightpink;
    color: white;
    border: none;
    padding: .3rem;
    font-size: 1rem;
    margin: .3rem;
    cursor:pointer;
}


.fifth {
    display: flex;
    margin-left: 20%;
}

.box1 {
    width: 18%;
    height: 4rem;
    margin: .3rem;
    border: 1px solid rgb(197, 193, 193);
    border-radius: .3rem;
}

.img-frock {
    height: 3rem;
    width: 3rem;
    border: none;
    background-color: rgb(239, 232, 232);
    border-radius: 5px;
    margin: 10px;
    float: left;
}

.parentscroll {
    display: flex;
    overflow: auto;
}

.span {
    font-size: 10px;
    display: flex;

}

.category {
    height: 54em;
    width: 17em;
    border: none;
    float: left;
    margin-left: 20%;
    margin-right: 1.5rem;
position:sticky;
top: 0;

}
.cloth1 {
    display: flex;
    position: relative;
}
.cloth1 small {
    position: absolute;
    top:1.7rem;
    left: 4.5rem;
}
.cloth1 div {
    position: absolute;
    right: 1.6rem;
    top:1.5rem;
}

.mid {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
}

.baby-shoes {
    height: 5.4em;
    margin: 3px;
}

.baby-pink {
    height: 3.7rem;
    float: left;
    padding: 0.7rem;
}

.sixth {
    display: flex;

}

.arrival {
    margin-left: 4.5rem;
    margin-right: .5rem;
    text-decoration: underline;
    text-underline-offset: 7px;
    font-size: 1.5rem;
}

.seventh {
    display:flex;
    margin-left: 40%;
    width: 40rem;
}

.clothes {
    border: 1px solid rgb(204, 198, 198);
    height: 22%;
    width: 11.4em;
    margin: 5%;
    border-radius: .3rem;
    margin-right: 0.5rem;
}

.t-shirt {
    float: left;
    margin: .8rem;
    height: 2.5rem;
    width: 2rem;
}

.r1 {
    font-size: 1rem;
    font-weight: bolder;
    color: black;
}

.price {
    color: lightpink;
    display: flex;
    padding-right: 3rem;
}

.erase {
    text-decoration: line-through;
    color: black;
}

.deal {
    margin-left: 37rem;
    padding: 10px;
    width: 50vw;
    font-size: 1.2rem;
    color: black;
    border-bottom: 1px solid rgb(184, 180, 180);
}

.eighth {
    height: 20em;
    border: 1px solid rgb(193, 190, 190);
    width: 35.3rem;    
    margin-left: 41.5%;
    margin-top: .6rem;
    border-radius: .6rem;
}

.shampo {
    float: left;
    height: 18rem;
    width: 280px;
}

.star {
    height: 1rem;
    width: 1rem;
    display: flex;
}

.conditioner {
    padding-top: .3rem;
    color: black;
}

.count {
    display: flex;
}

.sold {
    margin-right: 5rem;
}

.prince {
    font-size: 1.2rem;
    display: flex;
    color: lightpink;

}

.div1 {
    padding-right: 1rem;
}

.eraser {
    text-decoration: line-through;
    color: black;
}

.one {
    color: black;
    text-align: center;
}

.time {
    text-align: right;
    position: absolute;
    right:24.5rem;
    margin:5px;

}

.day1 {
    text-align: center;
    padding-right: 3rem;
    text-align: center;
    font-size: 1rem;
}

.dddd {
    height: 2rem;
    width: 2rem;
    border: 1px solid rgb(179, 174, 174);
    background-color: rgb(239, 232, 232);
    border-radius: .2rem;
    margin-right: 1rem;
    margin-top:25px;
    float: right;
    padding: .3rem;
}
.emmet{
    position:absolute;
    right:20rem;
}
.new {
    border-bottom: 1px solid rgb(183, 181, 181);
    font-size: 1.2rem;
    padding: 10px;
    width: 52vw;
    color: black;
    margin-left: 37rem;
}

.tenth {
    display: flex;
    margin-left: 37rem;
}

.jacket {
    border: 1px solid rgb(191, 187, 187);
    height: 14.5rem;
    width: 8.5rem;
    margin: .2rem;
    border-radius: .6rem;
}

.item {
    height: 7rem;
    width: 7rem;
}

.pink {
    color: lightpink;
    font-size: 1.1rem;
    text-align: center;
}

.star1 {
    height: 2.5em;
    width: 4em;
}

.value {
    display: flex;
    justify-content: space-around;
    color: black;
}

.cost {
    text-decoration: line-through;
    color: lightpink;
}

.rowone .rowtwo .rowthree .rowfour {
    display: flex;
}

.eleventh {
    display: flex;
    width: 60%;
    margin-left: 20%;
}

.firstdiv {
    height: 19.5rem;
    width: 12.5rem;
}

.testimonial {
    border-bottom: 1px solid rgb(179, 175, 175);
    color: black;
}

.alan-doe {
    border: 1px solid rgb(185, 183, 183);
    height: 17rem;
    width: 12.5rem;
    text-align: center;
    margin-top: .6rem;
    border-radius: .6rem;
    padding-top: 1.5rem;
}

.alan-img {
    border-radius: 50%;
    height: 6.3rem;
    width: 6.3rem;
}

.quotes {
    height: 3rem;
    width: 3rem;
}

.secondiv {
    width: 70%;
    height: 20rem;
    background-image: url(images/cta-banner.jpg);
    background-size: cover;
    margin: .6rem;
    border-radius: .6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.discount {
    height: 7.5rem;
    width: 11rem;
    background: transparent;
    border: 1px solid rgb(211, 207, 207);
    padding-top: 1.25rem;
    border-radius: .6rem;
}

.dis {
    background-color: black;
    color: white;
    padding: .3rem;
    width: 9.5rem;
    border-radius: .3rem;
    text-align: center;

}

.order1 {
    display: flex;
    padding: .5rem;
}
.order1 i{
    font-size: 25px;
    color: rgb(172, 57, 57);
}
.delivery{
    padding-left: 1rem;
}
.twelve {
    display: flex;
    width: 60%;
    margin-left: 20%;
    margin-bottom: 1rem;
}

.banner4 {
    height: 11.2rem;
    margin: .3rem;
    width: 95%;
    border-radius: .6rem;
}



.img1 {
    text-align: justify;
    text-align: center;
}

.return {
    width: 13.4rem;
    font-size: 15px;
    text-align: center;
}

.black {
    background-color: rgb(34, 33, 33);
    height: 43rem;
    padding: 2.5rem;
    width: 55%;
    margin-left: 20%;
    line-height: 2.2rem;
}

.bold {
    font-size: 1.25rem;
}

.pink1 {
    color: lightpink;
    font-size: 1.25rem;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    margin-left: 1.8rem;
}

.column {
    padding-right: 3.1rem;

}

.white {
    color: white;
    text-decoration: underline;
    text-underline-offset: .3rem;
}

.ppp1 {
    display: flex;
    margin-right: .6rem;
}

.column1 {
    width: .6rem;
}

.sticker {
    text-align: center;
}

.copyright {
    text-align: center;
}