@media (min-width:0px) and (max-width: 520px) {
  .shopping {
    max-width: 100%;
  }

  .ship {
    position: absolute;
    left: 75px;
  }

  .left-first {
    display: none;

  }

  .first {
    height: 3rem;
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .second {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .right-first {
    display: none;
  }

  .product {
    height: 6rem;
    padding: .6rem;

  }

  .mid-second i {
    position: absolute;
    right: -3rem;
    top: 3px;
    max-width: 100%;
    min-width: 50%;
  }

  .right-second {
    background-color: aqua;
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    bottom: 0;

  }

  .search {
    width: 30rem;

  }

  .mid-first {
    display: flex;
    font-size: 15px;

  }

  .left-second {
    font-size: 40px;

  }

  .product {
    height: 15px;
    width: 80%;
    font-size: 15px;

  }

  .fourth {
    height: 20rem;
    width: 80%;
    margin: 50px;
    background-size: cover;
  }

  .h1 {
    font-size: 30px;
  }

  .price {
    text-align: center;
    padding-right: 0px;
  }

  .deal {
    margin-left: 10%;
    margin-top: 15%;
  }

  .box1 {
    width: 70%;
    height: 4rem;
    margin: .3rem;

  }

  .seventh {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 10%;
    width: 20rem;
    height: 1550px;
  }

  .clothes {
    width: 60vw;
    height: 50px;
    padding: 20px;
  }

  .eighth {
    height: 35rem;
    width: 70%;
    border-radius: 10px;
    margin-left: 13%;
  }

  .shampo {
    height: 15em;
    width: 1.3rem;
  }

  .new {
    padding: 5px;
    margin-left: 10%;
  }

  .star {
    height: 10px;
    width: 10px;
    float: left;
  }

  .emmet {
    position: absolute;
    right: 3.5rem;
  }

  .conditioner {
    font-size: 15px;
    text-align: center;
  }

  .paragraph {
    text-align: center;
  }

  .tenth {
    flex-wrap: wrap;
    margin-left: 10%;
  }

  .new {
    margin-left: 10%;
    padding: 1rem;
  }

  .eleventh {
    flex-wrap: wrap;
    margin-left: 15%;
  }

  .thirdiv {
    margin-left: 20%;
  }

  .secondiv {
    width: 100%;
    margin-top: 50px;
  }

  .discount {
    margin-top: 30%;
    width: 8rem;
    margin-left: 5%;
  }


  .img1 {
    width: 18rem;
  }

  .black {
    height: 450rem;
  }

  .flex {
    flex-wrap: wrap;
    margin-left: 0px;
    width: 100%;
  }

  .sticker {
    margin-left: 0px;
  }

  .copyright {
    margin-left: 0px;

  }

  .category {
    display: none;
  }

  .twelve {
    overflow-x: scroll;
    width: 50%;
    margin-left: 20%;
  }

  .firstdiv {
    margin-left: 2rem;
  }

  .thirdiv {
    margin-left: 2rem;

  }

  .alan-doe {
    height: 17rem;
    width: 12.5rem;
  }

  .black {
    height: 130rem;
    width: 55%;
    margin-left: 10%;
    display: flex;
    flex-wrap: wrap;
  }

  .payment {
    width: 220px;
  }
}

@media (min-width: 528px) and (max-width: 1009px) {
  .left-first {
    display: none;
  }

  .left-second {
    font-size: 3rem;

  }

  .mid-second i {
    min-width: fit-content;
  }

  .category {
    display: none;
  }

  .fourth {
    width: 70%;
  }

  .sixth {
    margin-left: 20%;
  }

  .fifth {
    max-width: 60vw;
  }

  .right-second {
    background-color: aqua;
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    bottom: 0;
    overflow: hidden;
  }

  .box1 {
    width: 50%;

  }

  .seventh {
    display: flex;
    flex-wrap: wrap;
    margin-left: 20%;
    width: 40rem;
    margin-top: 50px;
  }

  .deal {
    margin-left: 20%;
    padding: 20px;
    width: 50vw;
  }

  .clothes {
    width: 15rem;
    margin: 10px;
  }

  .eighth {
    margin-left: 20%;
    width: 65%;
    height: 18em;

  }

  .shampo {
    height: 17em;
    width: 180px;
    float: left;
  }

  .time {
    position: absolute;
    right: 18rem;
  }

  .emmet {
    position: absolute;
    right: 13.5rem;
  }

  .new {
    margin-left: 20%;
  }

  .tenth {
    margin-left: 25%;
    display: flex;
    flex-wrap: wrap;
    width: 550px;
  }

  .jacket {
    width: 12rem;
    margin: 10px;
  }

  .twelve {
    overflow-x: scroll;
    width: 70%;
  }

  .deal {
    margin-top: 30px;
  }

  .eleventh {
    display: flex;
    flex-direction: column;
    margin-left: 20%;

  }

  .alan-doe {
    margin-left: 20%;
  }

  .thirdiv {
    margin-left: 20%;

  }

  .firstdiv {
    margin-left: 26%;

  }

  .secondiv {
    width: 115%;
    margin-top: 3rem;

  }

  .black {
    height: 85rem;
    width: 60%;
    margin-left: 20%;
  }

}