.ttt {
    background-color: rgb(78, 182, 78);
    line-height: 90pt;
    display: flex;
    justify-content: center;

}
.type{
    height: 30px;
    width: 800px;
}
.fff {
    background-color: rgb(57, 54, 54);
    color: white;
    cursor: pointer;
    height: 35px;
    width: 60px;
}

.button {
    color: white;
    background-color: green;
    margin-left: 85%;
}

.button1 {
    color: white;
    background-color: Red;
}

.second {
    width: 100%;
    padding: 8px 0px 2px 2px;
    height: 30px;
    border: 1px solid gray;
    margin-bottom: 5px;
}